  .img-container {
    text-align:center;
margin:auto;
display:flex;
  }
  .textAlign {
    text-align: center;
  }
  .textcolor{
      background-color:grey ;
  }
  .imgwidth{
      width: 50%;
      height: 50%;
  }
  .espace{
      margin-top: 5em;
  }